<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <h1 class="text-3xl font-bold text-blue-600 text-center my-6">Job Tracker </h1>
  </head>
  <body>
  <header>
    <h1>Job Tracker</h1>
    <hr>
  </header>
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li style="color: green;"> {{message}} </li>
    {% endfor %}
  </ul>
  {% endif %}
  <main>
    {% block content %}
    {% comment %} Pages go here {% endcomment %}
    {% endblock %}
  </main>
  <footer>
 <hr>
    <p>&copy; 2024 Job Tracker App</p>
  </body>
</html>